<a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>

<form #frm=ngForm (ngSubmit)="save(frm)">
    <div class="row form-group">
        <div class="col-sm-2"><sup>*</sup>Item # : </div>
        <div class="col-sm-4">
            <input type="text" name=itemId class="form-control" required [(ngModel)]="item.itemId" #itemId=ngModel/>
        </div>
        <div class="col-sm-4" *ngIf="itemId.invalid && itemId.touched">
            <span>Item Id is Required Field.</span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2"><sup>*</sup>Item Name : </div>
        <div class="col-sm-4">
            <input type="text" name=itemName class="form-control" required minlength="3" [(ngModel)]="item.itemName" #itemName=ngModel/>
        </div>
        <div class="col-sm-4" *ngIf="itemName.invalid && itemName.touched">
            <span *ngIf="itemName.errors['required']">Item Name is Required Field.</span>
            <span *ngIf="itemName.errors['minlength']">Item Name is Min 3 Character.</span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2">Description : </div>
        <div class="col-sm-4">
            <textarea name="description" id="description" cols="30" rows="5" class="form-control" [(ngModel)]="item.description"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2"><sup>*</sup>Item Price : </div>
        <div class="col-sm-4">
            <input type="text" name=itemPrice class="form-control" required [(ngModel)]="item.itemPrice" #itemPrice=ngModel pattern="^[0-9]+[.]*[0-9]+$"/>
            <!-- {{item.itemPrice}} -->
        </div>
        <div class="col-sm-4" *ngIf="itemPrice.invalid && itemPrice.touched">
            <span *ngIf="itemPrice.errors['required']">Item Price is Required Field.</span>
            <span *ngIf="itemPrice.errors['pattern']">Invalid Price Format it should be [10.10 or 11].</span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <button class="btn btn-success m-1" >Submit</button>
            <button class="btn btn-dark m-1" type="button" (click)="reset()">Reset</button>
        </div>
    </div>
</form>
<div class="row form-group" *ngIf="isSubmitted">
    <div class="col">
        <table class="table table-bordered bg-dark text-info">
            <tr>
                <th>Item #</th>
                <th>{{item.itemId}}</th>
            </tr>
            <tr>
                    <th>Item Name</th>
                    <th>{{item.itemName}}</th>
            </tr>
            <tr>
                    <th>Description </th>
                    <th>{{item.description}}</th>
            </tr>
            <tr>
                    <th>Price </th>
                    <th>{{item.itemPrice}}</th>
            </tr>
        </table>        
    </div>
</div>