<div class="card">
    <div class="card-header bg-warning text-white">
        Personal Info
    </div>
    <div class="card-body bg-info">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>First Name :</th>
                    <td>{{person.firstName}}</td>
                </tr>
                <tr>
                    <th>Last Name :</th>
                    <td>{{person.lastName}}</td>
                </tr>
                <tr>
                    <th>Date Of Birth :</th>
                    <td>{{person.dateOfBirth | date : 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <th>Mobile No :</th>
                    <td>{{person.mobileNo}}</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td>{{person.email}}</td>
                </tr>
                <tr>
                    <th>Age :</th>
                    <td>{{person.age}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>